<!DOCTYPE html>
<html lang="en">
<head>
  <meta  http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <title>Atlética Insper</title>

  <!-- Favicons -->
  <link href="img/Logo.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">ATLÉTICA INSPER</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!--<a href="#intro"><img src="img/Logo.png" alt="" title="" /></a> -->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Página Inicial</a></li>
          <li><a href="#modalidade">Modalidades</a>
          </li>
          <li><a href="#jogo">Jogos</a></li>
          <li><a href="#atleta">Atletas</a></li>
          <li><a href="#tecnico">Técnicos</a></li>
          <li><a href="#contato">Contato</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="img/intro-carousel/1.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <!--
                <h2>Atlética Insper</h2>
                <p>Logo</p> -->
                <img src="img/Logo.png" alt="" width="20%" height="20%">
                </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="img/intro-carousel/2.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <!--
                <h2>Atlética Insper</h2>
                <p>Logo</p> -->
                <img src="img/Logo.png" alt="" width="20%" height="20%">
            </div>
          </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="img/intro-carousel/3.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <!--
                <h2>Atlética Insper</h2>
                <p>Logo</p> -->
                <img src="img/Logo.png" alt="" width="20%" height="20%">
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Próxima</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Modalidades
    ============================-->
    <section id="modalidade">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>Modalidades</h3>
          <p>Nossos times</p>
          <center><button align="center" id="cria_mod" href="nova_modalidade" type="submit">Nova modalidade</button></center>
          <script type="text/javascript">
            document.getElementById("cria_mod").onclick = function () {
              location.href = "nova_modalidade";
            };
          </script>
        </div>
        <br>

        <div class="row">
        <!-- AQUI VAI TER QUE FAZER UM FOR PELAS MODALIDADES -->
        <% for(var modalidade=0; modalidade < modalidades.length; modalidade++) { %>
          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="mod">
              <img src="img/mod-1.jpg" class="img-fluid" alt="">
              <div class="mod-info">
                <div class="mod-info-content">
                  <h4><%=modalidades[modalidade].Nome%></h4>
                  <span>Caixinha: <%=modalidades[modalidade].Caixinha%> reais</span>
                  <div class="social">
                    <a href="modalidade/<%=modalidades[modalidade].Nome%>"><i class="ion ion-eye"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <%}%>
      </div>
    </section><!-- #modalidades -->

    <!--==========================
    Próximos jogos
    ============================-->

    <section id="jogo"  class="section-bg" >
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Próximos Jogos</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="jogo-flters">
              <li data-filter="*" class="filter-active">Todos</li>
              <li data-filter=".filter-sab">Sábado</li>
              <li data-filter=".filter-dom">Domingo</li>
            </ul>
          </div>
        </div>

        <div class="row jogo-container">
        <%for (var i = 0; i < jogo.length; i++){%>
          <div class="col-lg-4 col-md-6 jogo-item filter-sab wow fadeInUp">
            <div class="jogo-wrap">
              <figure>
                <img src="img/jogos/app1.jpg" class="img-fluid" alt="">
                <a href="img/jogos/app1.jpg" data-lightbox="jogo" data-title="Sabado" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="jogo-info">
                <h4><a href="#"><%=jogo[i].Nome_Mod%></a></h4>
                <h4>INSPER vs <%=jogo[i].Adversario%></h4>
                <p><%=jogo[i].Horario%></p>
              </div>
            </div>
          </div>
        <%}%>
        </div>
      </div>
      <center><button align="center" id="cria_jogo" href="novo_jogo" type="submit">Novo Jogo</button></center><br>
      <center><button align="center" id="cria_lugar" href="novo_endereco" type="submit">Novo Lugar</button></center>
        <script type="text/javascript">
            document.getElementById("cria_jogo").onclick = function () {
              location.href = "novo_jogo";
            };
          </script>

          <script type="text/javascript">
            document.getElementById("cria_lugar").onclick = function () {
              location.href = "novo_endereco";
            };
          </script>
        </section><!-- #jogo -->

        <!--==========================
      Atletas
    ============================-->
    <section id="atleta">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>Atletas</h3>
          <p>Nossos jogadores</p>
          <center><button align="center" id="cria_atleta" href="novo_atleta" type="submit">Nova atleta</button></center>
          <script type="text/javascript">
            document.getElementById("cria_atleta").onclick = function () {
              location.href = "novo_atleta";
            };
          </script>
        </div>
      </div>
      <br>
      <br>
    </section><!-- #atletas -->

            <!--==========================
      Atletas
    ============================-->
    <section id="tecnico">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>Técnicos</h3>
          <p>Nossos treinadores</p>
          <center><button align="center" id="cria_tecnico" href="novo_tecnico" type="submit">Nova técnico</button></center>
          <script type="text/javascript">
            document.getElementById("cria_tecnico").onclick = function () {
              location.href = "novo_tecnico";
            };
          </script>
        </div>
      </div>
      <br>
      <br>
    </section><!-- #atletas -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Contato</h3>
          <p>Mande uma mensagem para a AAA Insper</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Endereço</h3>
              <address>Rua Quatá, 300, São Paulo.</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Telefone</h3>
              <p><a href="tel:+155895548855">11 xxxx xxxx</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">exemplo@exemplo.com</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">Sua mensagem foi enviada!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Nome" data-rule="minlen:3" data-msg="Nome muito curto." />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Insira um email válido." />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" data-rule="minlen:4" data-msg="Assunto muito curto." />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mensagem"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Enviar mensagem</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Atlética Insper</h3>
            <img src="img/Logo.png" alt="" width="40%" height="40%">
          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Links Uteis</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Página Inicial</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contato</h4>
            <p>
              Rua Quatá, 300 <br>
              São Paulo, SP<br>
              Brasil <br>
              <strong>Telefone:</strong> 11 XXXX-XXXX<br>
              <strong>Email:</strong> exemplo@examplo.com<br>
            </p>

            <div class="social-links">
              <a href="https://www.facebook.com/AtleticaInsper/?ref=aymt_homepage_panel" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/raposa_loka/" class="instagram"><i class="fa fa-instagram"></i></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
